.container :global(.vtex-button){
    background: transparent;
}

.container :global(.vtex-login-2-x-label){
    font-size: 0;
}

.container :global(.vtex-login-2-x-label)::before{
    content: "Login";
    font-size: 14px;
    color: #000;
}

.container :global(.vtex-login-2-x-label)::after{
    content: "";
    background-image: url(/arquivos/login-ico.png);
    width: 20px;
    height: 20px;
}